$cor_somb: black;
$anim_dur: 3s;

@mixin girar(){
    animation: girar $anim_dur linear infinite;
}
#escudo2{
    @include girar();
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
        }
    100% {
        transform: rotate(360deg);
    }
}