.parte_cima {
  grid-area: Header;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(224, 224, 224), gray, rgb(43, 43, 43));
  color: rgb(0, 0, 0);
  border: 2px solid black;
  display: inherit;
  justify-content: center;
  z-index: 5;
}

h1 {
  margin: 0;
  font-size: calc(1.5vw + 1rem);
  padding: 15px;
}

h2 {
  grid-area: subHeader;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: olive;
  color: rgb(187, 185, 185);
  border: 3px solid red;
  padding: 30px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.parte_img {
  grid-area: Texto;
}

#escudo2 {
  width: 200px;
  height: 200px;
  position: absolute;
}

.shape {
  shape-outside: circle(50%);
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  translate: 0 10px;
  float: left;
  width: 275px;
  height: 200px;
}

#container {
  width: 100%;
}
#container p {
  text-indent: 2rem;
}
#container p::first-letter {
  font-size: 2rem;
}

.pilar1, .pilar2 {
  content: url(../../IMAGENS/pilar.png);
  width: 100%;
  height: 100%;
}

.pilar1 {
  grid-area: Pilar1;
  left: 0;
}

.pilar2 {
  grid-area: btn1/btn1/Footer/btn1;
}

#menu {
  grid-area: Menu1;
  z-index: 6;
}
#menu a {
  text-decoration: none;
  border-radius: 10px;
  transition: 0.25s;
  color: white;
  padding: 15px;
  text-align: center;
}
#menu a:hover {
  background-color: rgb(78, 78, 78);
}

#btn1, #btn2 {
  justify-self: center;
  align-self: center;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  background: transparent url(../../IMAGENS/menu.png) no-repeat top center;
  background-size: cover;
}

#btn1 {
  grid-area: btn1;
  z-index: 6;
}

#lista {
  opacity: 1 !important;
  background-image: linear-gradient(180deg, lightgray, darkgray, gray);
  height: 100vh;
  display: none;
  border: 2px solid black;
}

#link {
  transition: 0.25s;
  width: 80px;
  height: 80px;
  background-color: green;
  padding: 10px;
  border: 2px solid red;
  border-radius: 30px;
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  content: url(../../IMAGENS/zap.png);
}
#link:hover {
  transition: 0.25s;
  background-color: rgb(0, 77, 155);
  border: 2px solid cyan;
}

.botoes {
  display: none;
}

#escudo2 {
  animation: girar 3s linear infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  height: 100vh;
  width: 116vw;
  display: grid;
  overflow: hidden;
  grid-template-areas: "Header Header Header Header Header Header Menu1" "Pilar1 .   subHeader subHeader  .  btn1 Menu1" "Pilar1 Texto  Texto  Texto  Texto  Pilar2 Menu1" "Pilar1 .      .      .      .      Footer Menu1";
  grid-template-rows: 15vh 15vh 50vh 20vh;
  grid-template-columns: 16vw 17vw 17vw 17vw 17vw 16vw 18vw;
}

#lista {
  display: grid;
  grid-template-areas: "Um" "Dois" "Tres" "Quatro" "Cinco" "Seis" "Sete";
  grid-template-rows: 14vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh;
  grid-template-columns: 18vw;
}
#lista a {
  align-self: center;
}
#lista a:nth-child(1) {
  grid-area: Um;
}
#lista a:nth-child(2) {
  grid-area: Dois;
}
#lista a:nth-child(3) {
  grid-area: Tres;
}
#lista a:nth-child(4) {
  grid-area: Quatro;
}
#lista a:nth-child(5) {
  grid-area: Cinco;
}
#lista a:nth-child(6) {
  grid-area: Seis;
}
#lista a:nth-child(7) {
  grid-area: Sete;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, black, midnightblue, rgb(27, 80, 165), dodgerblue, skyblue, white);
}/*# sourceMappingURL=index2.css.map */