@mixin girar($anim_dur){
    animation: girar $anim_dur linear infinite;
}

@keyframes girar {
    0% {
        // transform: rotate(0deg);
        // transform: rotateX(0deg);
        transform: rotateY(0deg);
        }
    100% {
        // transform: rotate(360deg);
        // transform: rotateX(360deg);
        transform: rotateY(360deg);
    }
}