:root[light]{
    --backColor: gray;
    --contColor: rgb(180, 232, 253);
    --contShadow: black;

    --titleColor: black;
}
:root[dark]{
    --backColor: black;
    --contColor: dodgerblue;

    --titleColor: white;
}
*{
    box-sizing: border-box;
    transition: 0.5s;
}
html{
    display: grid;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--backColor);
    color: black;
}
h1, h2{
    color: var(--titleColor)
}
a{
    color: black;
    text-decoration: none;
    &:hover{
        color: black;
    }
}
input{
    padding: 5px;
    border-radius: 5px;
    &:focus{
        outline-style: none;
    }
}
#btn1{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#show[visivel]{
    background: var(--contColor) url(../../IMAGENS/olho.png) no-repeat center center;
    background-size: 50%;
}
#show[invisivel]{
    background: var(--contColor) url(../../IMAGENS/visualizar.png) no-repeat center center;
    background-size: 50%;
}
#show{
    position: relative;
    width: 50px;
    text-align: center;
    border: none;
}

#ipt3{
    width: calc(100% - 50px);
}
#enviar{
    justify-self: flex-end;
    padding: 10px 15px;
    width: 60%;
    cursor: pointer;
    margin: 25px 0 25px 0;

}
.container{
    height: 600px;
    width: 400px;
    padding: 30px;
    margin: 0;
    border-radius: 30px;
    display: grid;
    background: var(--contColor);
    box-shadow: 0px 8px 20px 5px var(--contShadow);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nome, .email, .senha{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
}